# Proyek Analisis Data: Brazilian E-Commerce Public Dataset by Olist
- **Nama:** Luthfi Mohamad Latief
- **Email:** luthfimo1501@gmail.com
- **ID Dicoding:** luthfi_m_latief

## Menentukan Pertanyaan Bisnis

- Mengidentifikasi seberapa sering seorang pelanggan melakukan transaksi (frequency)
- Mengidentifikasi seberapa besar revenue berdasarkan kategori product (monetery)

## Import Semua Packages/Library yang Digunakan

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

## Data Wrangling

### Gathering Data

In [4]:
#gathering process
customers_df = pd.read_csv("data/olist_customers_dataset.csv")#memanggil file csv customers
customers_df.head()#mengeluarkan list data pada table customers

geolocation_df = pd.read_csv("data/olist_geolocation_dataset.csv")#memanggil file csv geolocation
geolocation_df.head()#mengeluarkan list data pada table geolocation

order_items_df = pd.read_csv("data/olist_order_items_dataset.csv")#memanggil file csv order_items
order_items_df.head()#mengeluarkan list data pada table order_items

order_payments_df = pd.read_csv("data/olist_order_payments_dataset.csv")#memanggil file csv order_payments
order_payments_df.head()#mengeluarkan list data pada table order_payments

order_reviews_df = pd.read_csv("data/olist_order_reviews_dataset.csv")#memanggil file csv order_reviews
order_reviews_df.head()#mengeluarkan list data pada table order_reviews

orders_df = pd.read_csv("data/olist_orders_dataset.csv")#memanggil file csv orders
orders_df.head()#mengeluarkan list data pada table orders

products_df = pd.read_csv("data/olist_products_dataset.csv")#memanggil file csv products
products_df.head()#mengeluarkan list data pada table products

sellers_df = pd.read_csv("data/olist_sellers_dataset.csv")#memanggil file csv sellers
sellers_df.head()#mengeluarkan list data pada table sellers

product_category_name_translation_df = pd.read_csv("data/product_category_name_translation.csv")#memanggil file csv product_category_name_translation
product_category_name_translation_df.head()#mengeluarkan list data pada table product_category_name_translation

FileNotFoundError: [Errno 2] No such file or directory: 'data/olist_customers_dataset.csv'

**Insight:**
- Menyiapkan semua table dari dataset
- Menampilkan isi table (.csv) menggunakan pendekatan dataframe

### Assessing Data

In [ ]:
#assessing process
customers_df.info()#cek kondisi struktur data atas table customers
customers_df.isna().sum()#cek jumlah data kosong pada tiap kolom di table customers, terlihat semua kolom tidak ada data kosong
print("Jumlah duplikasi table customers: ", customers_df.duplicated().sum())#cek jumlah duplikasi data pada table customers, terlihat tidak ada data yang duplikasi
customers_df.describe()#cek ringkasan parameter statistik table customers, terlihat tidak ada keanehan pada parameter statistik table customers

geolocation_df.info()#cek kondisi struktur data atas table geolocation
geolocation_df.isna().sum()#cek jumlah data kosong pada tiap kolom di table geolocation, terlihat semua kolom tidak ada data kosong
print("Jumlah duplikasi table geolocation: ", geolocation_df.duplicated().sum())#cek jumlah duplikasi data pada table geolocation, terlihat 261831 data yang duplikasi
geolocation_df.describe()#cek ringkasan parameter statistik table geolocation, terlihat tidak ada keanehan pada parameter statistik table geolocation

order_items_df.info()#cek kondisi struktur data atas table order_items
order_items_df.isna().sum()#cek jumlah data kosong pada tiap kolom di table order_items, terlihat semua kolom tidak ada data kosong
print("Jumlah duplikasi table order_items: ", order_items_df.duplicated().sum())#cek jumlah duplikasi data pada table order_items, terlihat tidak ada data yang duplikasi
order_items_df.describe()#cek ringkasan parameter statistik table order_items, terlihat kolom shipping_limit_date bertipe object seharusnya datetime

order_payments_df.info()#cek kondisi struktur data atas table order_payments
order_payments_df.isna().sum()#cek jumlah data kosong pada tiap kolom di table order_payments, terlihat semua kolom tidak ada data kosong
print("Jumlah duplikasi table order_payments: ", order_payments_df.duplicated().sum())#cek jumlah duplikasi data pada table order_payments, terlihat tidak ada data yang duplikasi
order_payments_df.describe()#cek ringkasan parameter statistik table order_payments, terlihat tidak ada keanehan pada parameter statistik table order_payments

order_reviews_df.info()#cek kondisi struktur data atas table order_reviews
order_reviews_df.isna().sum()#cek jumlah data kosong pada tiap kolom di table order_reviews, terlihat kolom review_comment_title dan review_comment_message terdapat data kosong
print("Jumlah duplikasi table order_reviews: ", order_reviews_df.duplicated().sum())#cek jumlah duplikasi data pada table order_reviews, terlihat tidak ada data yang duplikasi
order_reviews_df.describe()#cek ringkasan parameter statistik table order_reviews, terlihat kolom review_creation_date bertipe object seharusnya datetime

orders_df.info()#cek kondisi struktur data atas table orders
orders_df.isna().sum()#cek jumlah data kosong pada tiap kolom di table orders, terlihat kolom order_approve_at, order_delivered_carrier_date, order_delivered_customer_date  terdapat data kosong
print("Jumlah duplikasi table orders: ", orders_df.duplicated().sum())#cek jumlah duplikasi data pada table orders, terlihat tidak ada data yang duplikasi
orders_df.describe()#cek ringkasan parameter statistik table orders, terlihat kolom order_delivered_carrier_date, order_delivered_customer_date dan order_estimated_delivery_date bertipe object seharusnya datetime

products_df.info()#cek kondisi struktur data atas table products
products_df.isna().sum()#cek jumlah data kosong pada tiap kolom di table products, terlihat kolom product_category_name, product_name_lenght, product_description_lenght, product_photos_qty, product_wight_g, product_length_cm, product_height_cm, product_width_cm  terdapat data kosong
print("Jumlah duplikasi table products: ", products_df.duplicated().sum())#cek jumlah duplikasi data pada table orders, terlihat tidak ada data yang duplikasi
products_df.describe()#cek ringkasan parameter statistik table products,  tidak ada keanehan pada parameter statistik

sellers_df.info()#cek kondisi struktur data atas table sellers
sellers_df.isna().sum()#cek jumlah data kosong pada tiap kolom di table sellers, terlihat kolom tidak terdapat data kosong
print("Jumlah duplikasi table sellers: ", sellers_df.duplicated().sum())#cek jumlah duplikasi data pada table sellers, terlihat tidak ada data yang duplikasi
sellers_df.describe()#cek ringkasan parameter statistik table sellers, tidak ada keanehan pada parameter statistik

product_category_name_translation_df.info()#cek kondisi struktur data atas table product_category_name_translation
product_category_name_translation_df.isna().sum()#cek jumlah data kosong pada tiap kolom di table product_category_name_translation tidak terdapat data kosong
print("Jumlah duplikasi table sellers: ", product_category_name_translation_df.duplicated().sum())#cek jumlah duplikasi data pada table product_category_name_translation, terlihat tidak ada data yang duplikasi
product_category_name_translation_df.describe()#cek ringkasan parameter statistik table product_category_name_translation, tidak ada keanehan pada parameter statistik

**Insight:**
- xxx
- xxx

### Cleaning Data

In [ ]:
#cleansing process

#table geolocation
#1. case nya memiliki beberapa data duplikasi
geolocation_df.drop_duplicates(inplace=True)#menghapus data yang terindikasi duplikasi
print("Jumlah duplikasi table geolocation: ", geolocation_df.duplicated().sum())#terlihat jumlah data yang terduplikasi bernilai 0

#table order_item
#1. case nya memiliki kolom yang bertipe data tidak sesuai yang seharusnya
datetime_columns = ["shipping_limit_date"]#inisiasi kolom yang ingin dirubah tipe datanya
for column in datetime_columns:
  order_items_df[column] = pd.to_datetime(order_items_df[column])#mencari dan mengkonversi tipe data object pada kolom shipping_limit_date datetime pada table order_items
order_items_df.info()#cek ulang struktur data table order_items

#table order_reviews
#1. case nya memiliki beberapa data duplikasi
#2. case nya memiliki kolom yang bertipe data tidak sesuai yang seharusnya
order_reviews_df.drop_duplicates(inplace=True)#menghapus data yang terindikasi duplikasi
print("Jumlah duplikasi table order_reviews: ", order_reviews_df.duplicated().sum())#terlihat jumlah data yang terduplikasi bernilai 0
datetime_columns = ["review_creation_date"]#inisiasi kolom yang ingin dirubah tipe datanya
for column in datetime_columns:
  order_reviews_df[column] = pd.to_datetime(order_reviews_df[column])#mencari dan mengkonversi tipe data object pada kolom review_creation_date datetime pada table order_items
order_reviews_df.info()#cek ulang struktur data table order_reviews

#table orders
#1. case nya memiliki beberapa data duplikasi
#2. case nya memiliki kolom yang bertipe data tidak sesuai yang seharusnya
orders_df.drop_duplicates(inplace=True)#menghapus data yang terindikasi duplikasi
print("Jumlah duplikasi table orders: ", orders_df.duplicated().sum())#terlihat jumlah data yang terduplikasi bernilai 0
datetime_columns = ["order_delivered_carrier_date","order_delivered_customer_date","order_estimated_delivery_date"]#inisiasi kolom yang ingin dirubah tipe datanya
for column in datetime_columns:
  orders_df[column] = pd.to_datetime(orders_df[column])#mencari dan mengkonversi tipe data object pada kolom review_creation_date datetime pada table orders
orders_df.info()#cek ulang struktur data table order_reviews

#table products
#1. case nya memiliki beberapa data kosong di beberapa kolom
#1.1 jika tipe data kolom adalah object maka akan diganti dengan kata tertentu
#1.2 jika tipe data kolom adalah integer/float maka akan diganti dengan nilai mean (rata-rata)
products_df[products_df.product_category_name.isna()]#cek data dengan kolom product_category_name bernilai kosong/null/NaN pada table products
products_df["product_category_name"] = products_df["product_category_name"].fillna("Belum Ditentukan")#mengganti nilai kosong dengan 'Belum Ditentukan'
mean_values = products_df[["product_name_lenght", "product_description_lenght", "product_photos_qty", "product_weight_g", "product_length_cm", "product_height_cm", "product_width_cm"]].mean()
products_df[["product_name_lenght", "product_description_lenght", "product_photos_qty", "product_weight_g", "product_length_cm", "product_height_cm", "product_width_cm"]] = products_df[["product_name_lenght", "product_description_lenght", "product_photos_qty", "product_weight_g", "product_length_cm", "product_height_cm", "product_width_cm"]].fillna(mean_values)
products_df.isna().sum()#cek data dengan kolom bernilai kosong/null/NaN pada table products

**Insight:**
1. Table Geolocation
- Case nya memiliki beberapa data duplikasi

2. Table Order Item
- Case nya memiliki kolom yang bertipe data tidak sesuai yang seharusnya

3. Table Order Reviews
- Case nya memiliki beberapa data duplikasi
- Case nya memiliki kolom yang bertipe data tidak sesuai yang seharusnya

4. Table Orders
- Case nya memiliki beberapa data duplikasi
- Case nya memiliki kolom yang bertipe data tidak sesuai yang seharusnya

5. Table Products
- Case nya memiliki beberapa data kosong di beberapa kolom
- Jika tipe data kolom adalah object maka akan diganti dengan kata
- Jika tipe data kolom adalah integer/float maka akan diganti dengan nilai mean (rata-rata)

## Exploratory Data Analysis (EDA)

### Explore ...

In [ ]:
#join table orders dengan customers
orders_customers_df = pd.merge(
    left=orders_df,
    right=customers_df,
    how="left", #menerapkan left join tbale orders dengan table customers
    left_on="customer_id",
    right_on="customer_id"
)
orders_customers_df.head()

#menampilkan pivot order terbanyak berdasarkan kota sebanyak 10 data
orders_customers_df.groupby(by="customer_city").order_id.nunique().sort_values(ascending=False).reset_index().head(10)

#join data table order_items dan order_payments
order_items_payments_df = pd.merge(
    left=order_items_df,
    right=order_payments_df,
    how="left",#menerapkan left join table order_items dengan order_payments
    left_on="order_id",
    right_on="order_id"
)
order_items_payments_df.head()

#join data table order_items_payments dan products
order_items_payments_products_df = pd.merge(
    left=order_items_payments_df,
    right=products_df,
    how="left",#menerapkan left join table order_items_payments dengan products
    left_on="product_id",
    right_on="product_id"
)
order_items_payments_products_df.head()

#menampilkan urutan 10 revenue order terbanyak berdasarkan kategori product
order_items_payments_products_df.groupby(by="product_category_name").agg({
    "payment_value": "sum",
}).sort_values(by="payment_value", ascending=False).reset_index().head(10)

**Insight:**
- Join table orders dengan table customers
- Menampilkan urutan 10 order terbanyak berdasarkan kota (aliasing orders_customers)
- Join data table order_items dengan order_payments (aliasing order_items_payments)
- Join table order_items_payments dengan table product
- Menampilkan urutan 10 revenue order terbanyak berdasarkan kategori product

## Visualization & Explanatory Analysis

### Pertanyaan 1:

In [ ]:
#Visualization & Explanatory
#Mnampilkan 10 kota dengan order terbanyak
orders_by_city_df = all_df.groupby('customer_city').agg({
    "order_id": "nunique"
}).reset_index()

orders_by_city_df.rename(columns={
    "order_id": "order_count",
    "customer_city": "city"
}, inplace=True)

# Menghitung jumlah order per kota
city_order_counts = all_df.groupby('customer_city')['order_id'].nunique().sort_values(ascending=False)

# Menampilkan 10 kota dengan order terbanyak
top_10_cities = city_order_counts.head(10)

# Plotting untuk menampilkan 10 kota dengan order terbanyak
plt.figure(figsize=(10, 5))
top_10_cities.plot(kind='bar', color='#72BCD4')
plt.title("10 Kota dengan Order Terbanyak (Ribu)", loc="center", fontsize=20)
plt.xlabel("Kota", fontsize=12)
plt.ylabel("Jumlah Order (Ribu)", fontsize=12)
plt.xticks(rotation=45, fontsize=10)
plt.yticks(fontsize=10)
plt.tight_layout()
plt.show()

### Pertanyaan 2:

In [ ]:
#Menampilkan 10 revenue order terbanyak berdasarkan kategori product
revenue_by_category_df = all_df.groupby('product_category_name').agg({
    "payment_value": "sum"  # Menghitung total payment_value untuk setiap kategori produk
}).reset_index()

revenue_by_category_df.rename(columns={
    "payment_value": "total_revenue",
    "product_category_name": "category"
}, inplace=True)

# Mengurutkan kategori produk berdasarkan total revenue terbanyak
revenue_by_category_df = revenue_by_category_df.sort_values(by='total_revenue', ascending=False)

# Menampilkan 10 kategori produk dengan revenue terbanyak
top_10_revenue_categories = revenue_by_category_df.head(10)

# Plotting untuk menampilkan 10 kategori produk dengan revenue terbanyak
plt.figure(figsize=(10, 5))
top_10_revenue_categories.plot(kind='barh', x='category', y='total_revenue', color='#72BCD4', legend=False)
plt.title("10 Kategori Produk dengan Revenue Terbanyak (Juta)", loc="center", fontsize=20)
plt.xlabel("Total Revenue (Juta)", fontsize=12)
plt.ylabel("Kategori Produk", fontsize=12)
plt.xticks(fontsize=10)
plt.yticks(fontsize=10)
plt.tight_layout()
plt.show()

**Insight:**
- Visualisasi pertama, menampilkan 10 kota dengan jumlah order terbanyak dengan diagram batang secara vertikal
- Visualisasi kedua, menampilkan 10 kategori product dengan jumlah revenue terbesar dengan diagram batang secara horizontal

## Analisis Lanjutan (Opsional)

## Conclusion

- Bahwa kota dengan order terbanyak adalah Sao Paulo dengan jumlah order lebih dari 14.000 order
- Bahwa kategori product dengan revenue terbesar adalah Cama Mesa Banho dengan revenue lebih dari 1.600.000